html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden; /* ✅ 전체 스크롤 제거 */
  background-color: #D3D3D3;
}


.chatting-container {
  display: flex;
  width: 100%;
  height: 100vh; 
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------ ChatList -------------------- */
.chat-list-container {
  flex: 0 0 20%;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #F5F5F5;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

.friend-flatlist-container {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  margin: 10px 0 10px 0;
}

.friend-flatlist-container::-webkit-scrollbar {
  display: none; 
}

.friend-flatlist {
  display: flex;
  min-width: max-content;
}

.add-button {
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #333; 
}

.add-button:hover {
  background-color: #f0f0f0;
}

.friend-item {
  flex: 0 0 auto;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.friend-item.selected {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-list {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-list::-webkit-scrollbar {
  display: none;
}

.chat-list-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #FFFCFE;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.unread-badge {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #F74C26;
  color: white;
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
  z-index: 10; 
}

.chat-list-item:hover {
  background-color: #e6e6e6; 
}

.chat-list-item.selected {
  background-color: #e6e6e6; /* 선택된 상태 색상 */
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-info {
  margin-left: 10px;
}

.chat-name {
  font-weight: bold;
}


/* ------------------ChatApp------------------- */
.chat-app-container {
  flex: 0 0 75%;
  transition: flex 0.3s ease; 
  display: flex;
  background-color: #ffffff;
  margin: 20px 0;
  border-radius: 30px;
  overflow: hidden;
}

.chat-app-container.full-width {
  flex: 0 0 75%; 
}

.chat-app {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  height: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.chat-header-left {
  display: flex;
  align-items: center;
}

.chat-header-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-right: 20px;
}

.chat-header-actions {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.chat-header-actions button {
  margin-left: 5px;
  background-color: #fff;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 8px;
}

.chat-message.me {
  text-align: right;
  background: #f0f0f0;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
}

.chat-message.other {
  text-align: left;
  background: #ff6b6b;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 8px;
}

.chat-input button {
  padding: 8px 8px;
  background-color: #fff;
}

.image-preview {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.image-preview img {
  border-radius: 8px;
  margin-right: 10px;
}

.image-preview button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.message-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px;
  min-height: 40px;
  flex: 1;
  margin: 0 10px;
  outline: none;
  overflow-wrap: break-word;
  min-height: 40px;
}

.message-input:empty:before {
  content: '메시지 입력';
  color: #999;
  position: absolute;
  pointer-events: none;
}

.message-input img {
  margin: 5px 0;
}

.message-input:hover,
.message-input:focus {
  border-color: #ccc; /* 기존 border 색상 유지 */
  box-shadow: none;
}

.send-button {
  background-color: #F74C26 !important;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 7px;
}

.send-icon {
  color: #fff;
  font-size: 20px;
  margin-left: -3px;
}


/* --------------ScheduleAlert--------------- */
.schedule-alert {
  flex: 0 0 20%;
  min-width: 300px;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  padding-top: 50px;
  overflow: hidden;
}

.profile-section {
  text-align: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
}

.tabs {
  display: flex;
  margin-top: 10px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.schedule-list {
  /* margin-top: 10px; */
}

.schedule-item {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 20px 10px 20px 10px;
  position: relative;
}

.schedule-icon {
  background-color: #fff;
  color: #FFBA2C;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.schedule-text {
  display: flex;
  flex-direction: column;
}

.schedule-label {
  font-size: 12px;
  color: gray;
}

.schedule-title {
  font-size: 16px;
  font-weight: bold;
}

.schedule-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ddd;
}

.tabs button.active {
  border-bottom: 3px solid #FFBA2C;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto; 
  max-height: 530px;
}

.image-gallery::-webkit-scrollbar {
  display: none;
}

.image-gallery {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.gallery-img {
  width: 100%;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 0;    
}

/* ---------일정 modal 창----------- */
/*  모달창 달력 */
.modal-content.fixed-size {
  width: 350px; 
  height: 415px; 
  overflow-y: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;

  display: flex;          
  flex-direction: column;  
  height: 80vh;          
}

.modal-body {
  flex: 1;                
  overflow-y: auto;        
}

.full-width-button {
  width: 100%; 
  height: 45px;
  display: flex; 
  justify-content: center; 
  align-items: center; 

  background-color: #5C2000; 
  color: white;
  padding: 10px 20px; 
  border-radius: 15px; 
  border: none; 
  font-weight: bold;
  margin-top: auto; 
}

.react-calendar {
  width: 100%;
  border: none !important;
  font-family: sans-serif;
}

.react-calendar__tile--active {
  background: orange !important;
  color: white !important;
  border-radius: 8px;
}

/*  모달창 일정 설정하는거 */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.modal-title-input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  background: transparent;
}

.input-group-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.input-group-container label {
  font-size: 18px;
  margin-right: 10px;
}

.input-group {
  flex: 1; /* 남은 영역 채우기 */
  background: #F5F5F5; /* ✅ input-group만 배경색 */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}


.input-group input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
  outline: none;
}

.input-group span {
  margin: 0 5px;
  font-size: 14px;
  color: #888;
}

.friends-select {
  display: flex;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  padding: 20px 0;
  scrollbar-width: none; 
}

.friends-select::-webkit-scrollbar {
  display: none; 
}

.friend-avatar {
  flex: 0 0 auto;
  width: 50px;  
  height: 50px; 
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
  border: 5px solid transparent;
  transition: border 0.2s;
}

.friend-avatar.selected {
  border: 4px solid #FFBA2C;
}

.friend-avatar:hover {
  filter: brightness(0.85);
}





