
/* 월별 캘린더 */
.calendarContainer {
  border-radius: 16px;
  overflow: hidden;
  background-color: #000;
  padding: 20px;
  height: 100%;
}

/* FullCalendar header title (월, 연도) */
.fc-toolbar-title {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px !important;
  margin-left: 20px !important;
  margin-bottom: -10px !important;
}

/* today 버튼 스타일 */
.fc .fc-button.fc-today-button {
  background-color: #F6F6F6 !important; /* 원하는 배경색 */
  color: #000 !important; /* 글자색 */
  border: none !important;
  border-radius: 8px !important;
  padding: 8px 16px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
}

/* 좌우 이동 버튼 스타일 */
.fc .fc-button.fc-prev-button,
.fc .fc-button.fc-next-button {
  background-color: #F6F6F6 !important; /* 원하는 배경색 */
  color: #000 !important; /* 아이콘 색상 */
  border: none !important;
  border-radius: 8px !important;
  padding: 8px 12px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  margin-top: 20px !important;
  margin-right: 10px !important;
}

/* 호버 효과 */
.fc .fc-button:hover {
  background-color: #e0e0e0 !important; /* hover 색상 */
}

/* active 클릭 효과 */
.fc .fc-button:active {
  background-color: #d5d5d5 !important;
}


/* 요일 헤더 버튼처럼 보이게 */
.fc-col-header-cell {
  background-color: #F6F6F6;
  border: none !important;
  padding: 10px 0 10px 0;
  font-weight: 500;
  border-radius: 15px;
  margin: 0 4px;
}

/* 요일 헤더 좌우 간격 */
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 15px;
}

.fc-col-header > thead > tr {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.fc-col-header > thead > tr > th {
  flex: 1;
}

/* 이벤트 박스 스타일 */
.fc-daygrid-event {
  background-color: #FFDECD !important;
  color: #000000 !important;
  border: none;
  border-radius: 8px;
  padding: 2px 4px;
  margin-bottom: 5px; /* 이벤트 간 gap */
}

/* 각 날짜 셀 스타일 */
.fc-daygrid-day {
  background-color: #ffffff;
  border: 1px solid #eee; /* 날짜 셀만 경계선 */
}

/* 날짜 셀 높이 늘리기 */
/* .fc .fc-daygrid-day-frame {
  min-height: 100px;
} */

/* 전체 그리드 테두리 제거 */
.fc-theme-standard table {
  border: none !important;
}

/* 각 셀 내부의 기본 border 제거 (중복선 방지) */
.fc-theme-standard td,
.fc-theme-standard th {
  border: none !important;
}

/* 일별 캘린더 친구 스크롤바 없애기 */
.friends-select::-webkit-scrollbar {
  display: none;
}

/* 일별 캘린더 diary textArea 스크롤바 없애기 */
textarea::-webkit-scrollbar {
  display: none;
}


